.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
}

.pikachu:hover {
    padding: 16px;
    border: 2px dashed rgb(241, 177, 0);
    background-color: rgb(255, 196, 0);
}

.meowth:hover {
    padding: 16px;
    border: 2px dashed rgb(145, 144, 144);
    background-color: lightgray;
}


.psyduck:hover {
    padding: 16px;
    border: 2px dashed rgb(0, 132, 255);
    background-color: lightblue;
}

body {
    background: linear-gradient(to right, rgb(255, 196, 0), lightgray, lightblue);
}